commands:
  01_create_staging_directory:
    command: 'sudo mkdir -p app/current'
    cwd: /var

  02_retrieve_app:
    command: 'aws s3 cp s3://my-app-bucket-nestjs/app-version.zip /var/app/current'

  03_unpack_app:
    command: 'sudo unzip -o app-version.zip -d .'
    cwd: /var/app/current

  04_install_yarn_current:
    command: sudo npm install -g yarn
    cwd: /var/app/current

  05_yarn_install:
    command: sudo yarn install
    cwd: /var/app/current

  06_yarn_build:
    command: sudo yarn build
    cwd: /var/app/current
